body {
  background-color: antiquewhite;
}

.btn {
  background-color: rgb(242, 94, 94);
  padding: 0.625rem 2rem;
  border: none;
  outline: none;
  border-radius: 0.6rem;
  transition: opacity 0.2s ease-in-out;
}
.btn:hover {
  opacity: 0.75;
  cursor: pointer;
}

.openmodal {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.openmodal .btn {
  transform: scale(1.5);
}

.modal {
  background-color: #fff;
  border-radius: 0.625rem;
  text-align: center;
  padding: 1.5rem;
  margin-bottom: 2rem;
  z-index: -1;
  box-shadow: 0.5rem 0.5rem 1rem black;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  opacity: 0;
  transition: all .2s ease-in-out;
}

.modal.modal-open {
  opacity: 1;
  z-index: 99;
}

.modal h1 {
  margin-bottom: 1rem;
}

.modal p {
  margin-bottom: 2rem;
  font-size: 0.9rem;
  line-height: 1.5rem;
}
